<div class='container'>
	<div class='row'>
		<div class='col-md-10'>
			<h2 class=''>
				welcome to <strong><span class='fas fa-book'></span>Bookers</strong>   !!
			</h2><br>
			<p class=''>
			In <strong><span class='fas fa-book'></span>Bookers</strong>,
			</p>
			<P class=''>
			you can share and exchange your opinions , inpressions , and emotions
			</P>
			<p class=''>
			about various books!
			</p>
			<a href="/users/sign_in" class="btn btn-primary btn-block">Log in</a>
			<a href="/users/sign_up" class="btn btn-success btn-block">Sign up</a>
		</div>
	</div>
</div>