<div class='container'>
	<div class='row'>
		<div class='col-xs-10'>
			<h1 class=''>
				welcome to <strong><span class='glyphicon glyphicon-book'></span>Bookers</strong>   !!
			</h1>
		</div>
	</div>
</div>