<div class='container'>
	<div class='row'>
		<div class='col-md-10'>
			<h2 class=''>
				welcome to <strong><span class='fas fa-book'></span>Bookers</strong>   !!
			</h2>
		</div>
	</div>
</div>