      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 nav-link:hover nav.sticky-top">
          <a class="navbar-brand ml-3" href="#">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="Navbar">
            <ul class='navbar-nav'>
              <li class="nav-item">
              <%= link_to ' Home', root_path, class: 'fas fa-home nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to ' About', home_about_path, class: 'fas fa-link nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to ' Sign up', new_user_registration_path, class: 'fas fa-edit nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to ' Login', new_user_session_path, class: 'fas fa-sign-in-alt nav-link'%>
            </li>
            </ul>
          </div>
        </nav>